*{
    font-family: 'Orbitron', sans-serif;
}

:root{
    --bl: rgb(25, 28, 36);
    --cute: rgb(187, 22, 96);
}

.darkness {
    background-color: black;
}

.text-cute {
    color: var(--cute);
}

.bg-cute {
    background-color: var(--cute);
}

.text-bl {
    color: var(--bl);
}

.text-w {
    color: white;
}

.pos:hover {
    color: white;
}

.text-grad {
    background: -webkit-linear-gradient(rgb(146, 26, 108), rgb(212, 20, 89));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-bl {
    background-color: var(--bl);
}

.logo0{
    width: 75px;
    position: relative;
}

.logo1{
    width: 75px;
    animation-name: move;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: forwards;
}



@keyframes move {
    from {left: 0px; top: 0px;}
    to {left: 850px; top: 0px; width: 200px; font-weight: bolder;}
}

.nav-link-color {
    color: var(--cute);
}

.nav-link:hover {
    color: white !important;
    border-bottom: 1px solid white;
}

.mt-custom{
    margin-top: 200px !important;
}

.mt-custom1{
    margin-top: 300px;
}

.mt-custom2{
    margin-top: 150px;
}

.custom-margin {
    margin-left: 150px;
    margin-top: 41vh;
}

.footer-basic {
    padding:40px 0;
    background-color: transparent;
    color: white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid var(--cute);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: var(--cute);
    margin-bottom:0;
  }

  .acc-wraper{
    margin: 30px auto;
    width:100%;
    
  }
  
  .accordion{
    display:flex;
    flex-wrap:nowrap;
    overflow:hidden;
    width:100%;
    height:400px;
    background-color: var(--bl);
    border-radius: 50px;
  }
  
  .accordion > div{
    width:70%;
    flex-grow:1;
    flex-shrink:1;
    overflow:hidden;
    transition:all .5s ease;
    border:3px solid var(--cute);
    border-radius:50px;
    position:relative
  }
  
  .accordion > div:hover{
    flex-shrink:0
  }
  
  .accordion div img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .accordion > div:hover {
    border: 3px solid white;
  }
