*{
    font-family: 'Orbitron', sans-serif;
}

:root{
    --bl: rgb(25, 28, 36);
    --cute: rgb(187, 22, 96);
}

.darkness {
    background-color: black;
}

.text-cute {
    color: var(--cute);
}

.bg-cute {
    background-color: var(--cute);
}

.text-bl {
    color: var(--bl);
}

.text-w {
    color: white;
}

.pos:hover {
    color: white;
}

.text-grad {
    background: -webkit-linear-gradient(rgb(146, 26, 108), rgb(212, 20, 89));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-bl {
    background-color: var(--bl);
}

.logo0{
    width: 75px;
    position: relative;
}

.logo1{
    width: 75px;
    animation-name: move;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: forwards;
}



@keyframes move {
    from {left: 0px; top: 0px;}
    to {left: 850px; top: 0px; width: 200px; font-weight: bolder;}
}

.nav-link-color {
    color: var(--cute);
}

.nav-link:hover {
    color: white !important;
    border-bottom: 1px solid white;
}

.mt-custom{
    margin-top: 200px !important;
}

.mt-custom1{
    margin-top: 300px;
}

.heart-size {
    width: 300px;
}

.bg-header {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.425)10%, rgb(0, 0, 0)80%), url(./media/ooH.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-row {
    height: 600px;
}

.bg-main {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.425)10%, rgb(0, 0, 0)80%), url(./media/White.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  .numbers-row {
    height: 270px;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#222, rgb(187,22,96));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--cute);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(187, 22, 96, 0.2),
    0 0 200px rgba(187, 22, 96, 0.4),
    0 0 300px rgba(187, 22, 96, 0.6),
    0 0 400px rgba(187, 22, 96, 0.8),
    0 0 500px rgba(187, 22, 96, 1);
}

.card {
    border-color: var(--cute);
    background-color: transparent;
}

.img-big:hover {
    transform: scale(1.2) !important;
}

.custom-margin {
    margin-left: 150px;
    margin-top: 41vh;
}

.footer-basic {
    padding:40px 0;
    background-color: transparent;
    color: white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid var(--cute);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: var(--cute);
    margin-bottom:0;
  }
  
  .pos {
    position: absolute;
    top: 100px;
    left: 354px;
    cursor: pointer;
  }
  